.pagebody {
    display: grid;
    grid-template-columns: 60vw auto;
  }

  .searchAndMap {
    padding-left:3%
  }

  .Results {
    background-color: chartreuse;
    padding-left:5%;
    padding-right:5%;
  }