.pagebody {
    display: grid;
    grid-template-columns: 60vw auto;
}

.searchAndMap {
    padding-left: 3%;
}

.Results {
    padding-left: 5%;
    padding-right: 5%;
}

.dropDown {
    background-color: #7d7d7d;
    padding-left: 2vw;
}

.roomHeader {
    font-size: larger;
    font-weight: bold;
    background-color: #87abe6;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
